.search {
  margin: 0 auto;
  background-color: $color-grey-dark-3;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;

  &:focus-within {
    transform: scale(1.05);
    box-shadow: $shadow-dark;
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 25rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }
  }

  &__btn {
    font-weight: 600;
    font-family: inherit;
  }
}
